<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>基金经理</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no,email=no,adress=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <!-- 公共样式表 -->
    <link rel="stylesheet" href="include/fundmanager.css?v=2.0">
</head>

<body>
    <!-- <div id="header">
		<a href="" class="back">返回</a>基金经理
	</div> -->
    <div class="fund_content">
        <div class="fund_up">
            <div class="fund_name">史高飞</div>
            <div class="fund_des">史高飞先生:中国国籍,硕士,具有基金业从业资格。自2009年7月至2010年1月在中邮创业基金管理有限公司任研究员。2010年4月加入诺安基金管理有限公司任基金经理助理。2015年1月起任诺安新经济股票型证券投资基金基金经理。</div>
        </div>
        <div class="fund_down">
            <div class="fund_his">历任情况</div>
            <div class="fund_data">
                <!-- <div class="fund_onedata">
                    <div class="fund_date"><span>2015-01-26</span><span>至今</span></div>
                    <div class="fund_contain"><span class="fund_cname">诺安鸿鑫保本混合</span><span><i class="fund_back">任期回报</i>&nbsp&nbsp<i class="fund_present">91.90%</i></span></div>
                </div>
                <div class="fund_onedata">
                    <div class="fund_date"><span>2015-01-26</span><span>至今</span></div>
                    <div class="fund_contain"><span class="fund_cname">诺安鸿鑫保本混合</span><span><i class="fund_back">任期回报</i>&nbsp&nbsp<i class="fund_present">91.90%</i></span></div>
                </div> -->
            </div>
        </div>
    </div>
    <script src="http://qiniu.csfimg.com/fund/js/lib/jquery.min.js"></script>
    <script src="http://qiniu.csfimg.com/fund/js/lib/fastclick.js"></script>
    <script src="../../assets/js/helper.js?v=2.0"></script>
    <script src="../../assets/js/public.js?v=2.0"></script>
    <!-- 公共脚本 -->
    <script src="include/fundmanager.js?v=2.0"></script>
</body>

</html>
