<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>一周领涨板块</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no,email=no,adress=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <!-- 公共样式表 -->
    <link rel="stylesheet" href="include/fundledplate.css?v=2.0">
</head>

<body>
    <div id="wrapper">
        <div id="scroller">
            <div id="pullDown">
                <div class="iscontent"><span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新</span></div>
            </div>
            <ul id="thelist">
            </ul>
            <div id="pullUp">
                <div class="iscontent"><span class="pullUpIcon"></span><span class="pullUpLabel">上拉加载更多</span></div>
            </div>
        </div>
    </div>
    <script src="http://qiniu.csfimg.com/fund/js/lib/iscroll.js"></script>
    <script src="http://qiniu.csfimg.com/fund/js/lib/jquery.min.js"></script>
    <script src="http://qiniu.csfimg.com/fund/js/lib/fastclick.js"></script>
    <script src="../../assets/js/helper.js?v=2.0"></script>
    <script src="../../assets/js/public.js?v=2.0"></script>
    <!-- 公共脚本 -->
    <script src="include/fundledplate.js?v=2.0"></script>
</body>

</html>
