<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>重仓持股</title>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="format-detection" content="telephone=no,email=no,adress=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
	<link rel="stylesheet" href="../../assets/css/reset.css">
	<link rel="stylesheet" href="include/hold.css?v=2.0">
</head>

<body>
	<div id="header">
		<a href="" class="back">返回</a><i>重仓持股</i>
	</div>
	<div id="main">
		<div id="chart_div"></div>
		<table width="100%" class="tlist">
			<thead>
				<tr>
					<th>持仓股</th>
					<th>持仓市值(万)</th>
					<th>占比</th>
				</tr>
			</thead>
			<tbody id="list"></tbody>
		</table>
	</div>
</body>
</html>

<script src="http://qiniu.csfimg.com/fund/js/jquery.min.js"></script>
<script src="http://qiniu.csfimg.com/fund/js/lib/highstock.js?version=1"></script>
<script src="../../assets/js/helper.js?v=2.0"></script>
<script src="../../assets/js/public.js?v=2.0"></script>
<script src="include/hold.js?v=2.0"></script>