<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>选基金</title>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<meta name="format-detection" content="telephone=no,email=no,adress=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />

	<link rel="stylesheet" href="../../assets/css/reset.css">
	<!-- 公共样式表 -->

	<link rel="stylesheet" href="include/chosefund.css?v=2.0">
</head>
<body>
	<div class="fundchoses"><div class="fundchose_search">搜索基金名称/代码</div></div>
	<div class="fund_chosecondition"><div data-type="classify">分类<i class="fund_down"></i></div><div data-type="industry">行业<i class="fund_down"></i></div><div data-type="level">评级<i class="fund_down"></i></div><div data-type="more">筛选<i class="fund_down"></i></div>
	</div>
	<div class="custfund_head">
        <div class="custfund_name">名称</div>
        <div class="custfund_value">最新净值</div>
        <div class="custfund_up">
            <div class="sort_div"><i type="d">日涨幅</i><i type="m">近一月</i><i type="q">近三月</i><i type="y">近一年</i><i type="cy">今年来</i></div>
            <span class="sort_span js-sort" type="d">日涨幅<i class="arrow"></i></span>
        </div>
    </div>
    <div id="wrapper">
        <div id="scroller">

            <div id="pullDown">
                <div class="iscontent"><span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新</span></div>
            </div>
            <ul id="thelist">
            </ul>
            <div id="pullUp">
                <div class="iscontent"><span class="pullUpIcon"></span><span class="pullUpLabel">上拉刷新</span></div>
            </div>
        </div>
    </div>
	<script src="http://qiniu.csfimg.com/fund/js/lib/iscroll.js"></script>
	<script src="http://qiniu.csfimg.com/fund/js/lib/jquery.min.js"></script>
	<script src="http://qiniu.csfimg.com/fund/js/lib/underscore-min.js"></script>
	<script src="http://qiniu.csfimg.com/fund/js/lib/fastclick.js"></script>
	<script src="../../assets/js/helper.js?v=2.0"></script>
	<script src="../../assets/js/public.js?v=2.0"></script>
	<!-- 公共脚本 -->
	<script src="include/chosefund.js?v=2.0"></script>
	
</body>
</html>


