<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>推荐详情</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no,email=no,adress=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <!-- 公共样式表 -->
    <link rel="stylesheet" href="include/fundsuportdetail.css?v=2.0">
</head>

<body>
    <div class="support_detail">
        <div class="support_right"><span class="support_subtitle fc-1">净值</span><div class="support_persent js-support_persent">1.2441</div></div>
        <div class="support_left"><span class="support_title js-support_title">加载中</span><div class="support_subleft"><span class="support_code js-support_code">加载中</span><span class="moresupport_type"></span></div></div>
        <div class="support_center js-support_type"></div>
        <div class="support_bottom"><span class="support_coast js-support_coast">股价：</span><span class="support_news js-support_news">多只重仓股大涨超7%</span></div>
    </div>
    <!-- 股价详情 -->
        <div class="price_detail js-price_detail">
            <div class="price_head"><div>重仓股</div>
            <div>前一交易日涨幅</div>
            <div>重仓占比</div></div>
        </div>

    <!-- 新闻详情 -->
       <div class="news_detail js-news_detail">
           <div class="news_head">新闻详情</div>
           <div class="news_content"><span>摘要</span><p>加载中...</p></div>
           <div class="news_foot"><a href="javascript:void(0)">查看原文</a><span>若有侵权,请联系智投处理</span></div>
       </div>

    <!-- 指数 -->
        <!-- <div class="index_detail js-index_detail">
           <div class="index_head">指标说明</div>
           <div class="index_des"><p>最左边的,DIFF的判断,我们可以看出,与价格趋势一致,在实际的操作中,遇此情况,在DIFF与DEA的死叉后再选择带损做空为主,是很安全的.</p></div>
           <div class="index_chart"></div>
       </div> -->
    
    <script src="http://qiniu.csfimg.com/fund/js/lib/iscroll.js"></script>
    <script src="http://qiniu.csfimg.com/fund/js/lib/jquery.min.js"></script>
    <script src="http://qiniu.csfimg.com/fund/js/lib/highstock.js"></script>
    <script src="http://qiniu.csfimg.com/fund/js/lib/underscore-min.js"></script>
    <script src="http://qiniu.csfimg.com/fund/js/lib/fastclick.js"></script>
    <script src="../../assets/js/helper.js?v=2.0"></script>
    <script src="../../assets/js/public.js?v=2.0"></script>
    <!-- 公共脚本 -->
    <script src="include/fundsuportdetail.js?v=2.0"></script>
</body>

</html>
