<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>基金公司</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no,email=no,adress=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="../../assets/css/reset.css">
    <!-- 公共样式表 -->
    <link rel="stylesheet" href="include/fundcompany.css?v=2.0">
</head>

<body>
    <!-- <div id="header">
		<a href="" class="back">返回</a>基金公司
	</div> -->
    <div class="fund_content">
        <div id="wrapper">
            <div id="scroller">
                <div id="pullDown">
                    <div class="iscontent"><span class="pullDownIcon"></span><span class="pullDownLabel">下拉刷新</span></div>
                </div>
                <ul id="thelist">
                    <div class="fund_title">华宝基金管理有限公司</div>
                    <div class="fund_up">
                        <div class="fund_data"><span class="fund_text">成立日期</span><span class="fund_value js-data">2003-12-09</span></div>
                        <div class="fund_data"><span class="fund_text">注册资本</span><span class="fund_value ja-cost">15000万元</span></div>
                        <div class="fund_data"><span class="fund_text">总规模</span><span class="fund_value js-mon">888.5亿元</span></div>
                        <div class="fund_data"><span class="fund_text">总经理</span><span class="fund_value js-name">叶鑫</span></div>
                    </div>
                    <div class="fund_num"></div>
                    <div class="fund_down"></div>
                </ul>
                <div id="pullUp">
                    <div class="iscontent"><span class="pullUpIcon"></span><span class="pullUpLabel">上拉刷新</span></div>
                </div>
            </div>
        </div>
    </div>
    <script src="http://qiniu.csfimg.com/fund/js/lib/jquery.min.js"></script>
    <script src="http://qiniu.csfimg.com/fund/js/lib/iscroll.js"></script>
    <script src="http://qiniu.csfimg.com/fund/js/lib/fastclick.js"></script>
    <script src="../../assets/js/helper.js?v=2.0"></script>
    <script src="../../assets/js/public.js?v=2.0"></script>
    <!-- 公共脚本 -->
    <script src="include/fundcompany.js?v=2.0"></script>
</body>

</html>
